body {
    background-color:AntiqueWhite;
}

footer {
    background-color:darkgray;
    text-align:center;
	font-family:arial;
	font-size:15px;
}

.buttonDay {
	-moz-box-shadow:inset 0px 1px 0px 0px antiquewhite;
	-webkit-box-shadow:inset 0px 1px 0px 0px antiquewhite;
	box-shadow:inset 0px 1px 0px 0px antiquewhite;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, blanchedalmond), color-stop(1, burlywood) );
	background:-moz-linear-gradient( center top, blanchedalmond 5%, burlywood 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='blanchedalmond', endColorstr='burlywood');
	background-color:blanchedalmond;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid burlywood;
	display:inline-block;
	color:white;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 23px;
	text-decoration:none;
	text-shadow:1px 1px 0px burlywood;
}.buttonDay:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, burlywood), color-stop(1, blanchedalmond) );
	background:-moz-linear-gradient( center top, burlywood 5%, blanchedalmond 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='burlywood', endColorstr='blanchedalmond');
	background-color:burlywood;
}.buttonDay:active {
	position:relative;
	top:1px;
}

.buttonDaySelected {
    color:black;
}
